<!DOCTYPE html>
<html lang="zh-cmn-Hans-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>登录 | BaseCMF</title>

    <link rel="stylesheet" href="/static/admin/nifty2.9/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/admin/nifty2.9/css/nifty.min.css">
    <link rel="stylesheet" href="/static/admin/nifty2.9/css/custom.css">
</head>
<body>
    <div id="container" class="cls-container">
        <div class="cls-content">
            <div class="cls-content-sm panel">
                <div class="panel-body">
                    <div class="mar-ver pad-btm">
                        <h1 class="h3">登录 BaseCMF</h1>
                    </div>
                    <form data-overlay="1">
                        <input type="hidden" name="callback">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="用户名" autofocus name="username">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="密码" name="password">
                        </div>
                        <div class="form-group mar-no">
                            <div class="row">
                                <div class="col-md-6 mar-btm">
                                    <img id="captcha" style="cursor: pointer;" class="img-responsive refresh" src="{:url('admin/systemctl.control/captcha')}" title="刷新">
                                </div>
                                <div class="col-md-6 mar-btm">
                                    <input type="text" class="form-control" placeholder="验证码" name="captcha">
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary btn-lg btn-block" type="submit">登 录</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="/static/admin/nifty2.9/js/jquery.min.js"></script>
    <script src="/static/admin/nifty2.9/js/bootstrap.min.js"></script>
    <script src="/static/admin/nifty2.9/js/nifty.min.js"></script>
    <script src="/static/common/layer/layer.js"></script>
    <script src="/static/admin/nifty2.9/js/custom.js"></script>
    <script>
        $(function() {
            $(".refresh").on("click", function(event) {
                event.preventDefault();
                $('#captcha').attr("src", "{:url('admin/systemctl.control/captcha')}?" + Math.random());
                $('[name="captcha"]').val('');
            });

            $("form").submit(function(event) {
                event.preventDefault();
                $.post("{:url('admin/systemctl.control/do_login')}", $(this).serialize(), function(response, textStatus, xhr) {
                    if (response.code === 1) {
                        layer.msg(response.msg, {icon: 1, time: 800}, function() {
                            window.location.href = response.url;
                        });
                    } else {
                        layer.msg(response.msg, {icon: 2, time: 800}, function() {
                            $("#captcha").click();
                        });
                    }
                }, 'json');
            });
        });
    </script>
</body>
</html>
