{extend name="tpl:base" /}

{block name="title"}首页{/block}

{block name="style"}{/block}

{block name="icon"}{/block}

{block name="script"}{/block}

{block name="container"}
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="panel panel-body text-center">
                <div class="panel-heading">
                    <h3>示例页面</h3>
                </div>
                <div class="panel-body">
                    <p>从这里开始</p>
                </div>
            </div>
        </div>
    </div>
{/block}
