{extend name="tpl:base" /}

{block name="title"}{/block}

{block name="style"}{/block}

{block name="icon"}{/block}

{block name="script"}{/block}

{block name="header"}
<div class="text-center cls-content">
    <h1 class="error-code text-info">404</h1>
</div>
{/block}

{block name="container"}
    <div class="text-center cls-content">
        <p class="h4 text-uppercase text-bold">Page Not Found!</p>
        <div class="pad-btm">
            Sorry, but the page you are looking for has not been found on our server.
        </div>
    </div>
{/block}
